<assembly xmlns="http://maven.apache.org/ASSEMBLY/2.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/2.1.0
          http://maven.apache.org/xsd/assembly-2.1.0.xsd">
  <id>module</id>
  <formats>
    <format>zip</format>
  </formats>
  <baseDirectory>org/bedework/calendar/common/facade</baseDirectory>
  <fileSets>
    <fileSet>
      <directory>${org.bedework.deployment.basedir}/wildfly/modules/org/bedework/calendar/common/facade</directory>
      <outputDirectory/>
    </fileSet>
  </fileSets>
</assembly>